<nav class="customerHeader">
  <ul>
    <li class="titleName">
      <span class="end">Book</span><span class="middle">My</span
      ><span class="end">Room</span>
    </li>
    <li><%- include("./customerLogout.ejs") %></li>
  </ul>
</nav>
