<header>
  <nav class="navBar">
    <a href="/" class="title"
      ><span id="book">Book</span><span id="my">My</span
      ><span id="room">Room</span></a
    >
    <ul class="navigation">
      <li><a href="/owners">Owners</a></li>
      <li><a href="/owners/new">Add Owner</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/rooms/new">Add Rooms</a></li>
    </ul>
  </nav>
</header>
