<%- include("../partials/header.ejs") %> <%- include("../partials/logout.ejs")
%>
<h2 class="subHeading">New Owner</h2>
<form action="/owners" method="POST" class="form">
  <%- include('_form_fields') %>
  <a href="/owners"><div class="btnLink">Cancel</div></a>
  <button type="submit" class="btn">Create</button>
</form>
